{#密码修改#}
{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}密码修改{% endblock %}
{% block css %}
    <link href="{% static 'CSS/change_password.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container bg">
        <div class="row row-centered">
            <div class="well col-md-4 col-centered">
            <h2 class="text-center">修改密码</h2>
                <form role="form" action="/change_password/" method="post">
                    {% if message %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <div class="input-group input-group-md"> <!--旧密码，新密码，确认密码-->
                        <span class="input-group-addon" id="sizing-addon1"><strong>原始密码：</strong></span>
                        <input type="password" name="oldpassword" class="form-control" id="id_password1" placeholder="与旧密码一致" autofocus required/>
                    </div><br>
                    <div class="input-group input-group-md"> <!--旧密码，新密码，确认密码-->
                        <span class="input-group-addon" id="sizing-addon1"><strong>新的密码：</strong></span>
                        <input type="password" name="newpassword" class="form-control" id="id_password2" placeholder="与旧密码不一致" autofocus required/>
                    </div><br>
                    <div class="input-group input-group-md">
                        <span class="input-group-addon" id="sizing-addon1"><strong>确认密码：</strong></span>
                        <input type="password" class="form-control" id="renewpassword" name="renewpassword"  placeholder="再一次输入新密码"  autofocus required/>
                    </div><br>

                    <button type="reset" class="btn btn-default pull-left">重置</button>
                    <button type="submit" class="btn btn-success pull-right">提交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}